/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 20px;
  background-image: url("https://24.media.tumblr.com/916fb4d5eb745cc933e4e1ae4f794e32/tumblr_mvb71g3MUl1six59bo1_500.gif");
  background-size: 100%;
}

h1 {
  font-style: italic;
  color: white;
}


.bubble {
  display: inline;
  padding: 10px;
  background-color: lightblu;
  border-radius: 10px;
}

input {
  display: block;
  padding: 5px;
  color: white;
  background-color: black;
}

.button {
  color: white;
  background-color: black;
}
