/* CSS files add styling rules to your content */

/*animations*/
@keyframes vapor4 {
  0% {
    color: rgba(150, 255, 255, 0.5);
  }
  50% {
    color: rgba(73, 0, 255, 0.6);
  }
  100% {
    color: rgba(150, 255, 255, 0.5);
  }
}

@keyframes flash {
  0% {
    background-color: black;
    height: 400px;
    width: 400px;
    border-radius: 200px;
  }
  5% {
    background-color: red;
  }
  25% {

  }
  50% {
    height: 500px;
    width: 500px;
    border-radius: 000px;
    background-color: black;
  }
  100% {
    background-color: black;
    height: 400px;
    width: 400px;
    border-radius: 200px;
  }
}

@keyframes blood {
  0%{
    color: black;
  }
  50%{
    color: darkred;
  }
  100%:{
    color: black;
  }
}

@keyframes glitch1 {
  0%{
    font-family: "Libre Barcode 128 Text", cursive;
  }
  50%{
    font-family: "Libre Barcode 39 Extended Text", cursive;
  }
}


@keyframes barcode_glitch {
  0% {
    font-family: "Libre Barcode 128 Text", cursive;
    text-shadow: 60px 0px white;
  }
  20% {
    font-family: "Libre Barcode 128", cursive;
    text-shadow: -80px 0px black;
  }
  21% {
    text-shadow: -30px 0px black;
  }
  30% {
    font-family: "Libre Barcode 39 Extended", cursive;
    text-shadow: -30px 0px white;
  }
  50% {
    font-family: "Libre Barcode 39 Extended Text", cursive;
    text-shadow: -30px 0px black;
  }
  100% {
    font-family: "Libre Barcode 128 Text", cursive;
    text-shadow: -30px 0px black;
  }
}

@keyframes green_gradient {
  0% {
    background-color: rgba(216, 243, 220, 1);
  }
  10% {
    background-color: rgba(183, 228, 199, 1);
  }
  20% {
    background-color: rgba(149, 213, 178, 1);
  }
  30% {
    background-color: rgba(116, 198, 157, 1);
  }
  40% {
    background-color: rbga(82, 183, 136, 1);
  }
  50% {
    background-color: rbga(64, 145, 108, 1);
  }
  60% {
    background-color: rbga(82, 183, 136, 1);
  }
  70% {
    background-color: rgba(116, 198, 157, 1);
  }
    80% {
    background-color: rgba(149, 213, 178, 1);
  }
  90% {
    background-color: rgba(183, 228, 199, 1);
  }
  100% {
    background-color: rgba(216, 243, 220, 1);
  }
}


@keyframes blue_gradient {
  0% {
    background-color: rgba(202, 240, 248, 1);
  }
  10% {
    background-color: rgba(173, 232, 244, 1);
  }
  20% {
    background-color: rgba(144, 224, 239, 1);
  }
  30% {
    background-color: rgba(72, 202, 228, 1);
  }
  40% {
    background-color: rbga(0, 180, 216, 1);
  }
  50% {
    background-color: rbga(0, 150, 199, 1);
  }
  60% {
  background-color: rbga(0, 180, 216, 1);
  }
  70% {
    background-color: rgba(72, 202, 228, 1);
  }
  80% {
    background-color: rgba(144, 224, 239, 1);
  }
  90% {
    background-color: rgba(173, 232, 244, 1);
  }
  100% {
    background-color: rgba(202, 240, 248, 1);
  }
}

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  line-height: 2em;
  margin: 2em;
  background-color: black;
  color: rgb(0);
}

h1 {
  font-style: italic;
  color: white;
  background: transparent;
  padding: 30px;
  border: 0px;
  text-size: 400%;
  font-family: "Impact", cursive;
}

h4 {
  margin-bottom: 0px;
}

.bubble {
  display: inline;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}

input {
  display: block;
  padding: 5px;
}

.section {
  padding: 20px;
  text-size: 200%;
  border: 2px solid rgb(0, 0, 0);
}

.helpBox {
  font-style: italic;
  padding: 30px;
  color: rgb(50, 50, 50);
}
.button {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  /*background: rgb(150,255,255);*/
  margin: 40px;
  font-style: italic;
}

.lvl0 {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin: 100px;
  font-size: 200%;
  background: rgb(255, 255, 255);
  margin: 5px;
  font-style: italic;
  font-family: "Impact", cursive;

}

.lvl1 {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin: 100px;
  font-size: 200%;
  background: rgb(150, 255, 255);
  margin: 5px;
  font-style: italic;
  animation-name: blue_gradient;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  font-family: "Impact", cursive;
}

.lvl2 {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin: 100px;
  font-size: 200%;
  /*background: rgb(160,255,160);*/
  margin: 5px;
  font-style: italic;
  animation-name: green_gradient;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  font-family: "Impact", cursive;
}

.lvl3 {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin: 100px;
  border: 0px;
  font-size: 200%;
  background: transparent;
  color: black;
  margin: 5px;
  font-style: italic;
  font-family: Impact;
  background-image: url("https://www.joypixels.com/images/jp-home/fire.gif");
  background-size: 100% 100%;
}

.lvl4 {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin: 100px;
  font-size: 200%;
  background: transparent;
  margin: 5px;
  font-style: Bold;
  font-family: "Faster One", cursive;
  color: white;
}

.lvl5 {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin: 100px;
  font-size: 200%;
  background: transparent;
  margin: 5px;
  font-style: italic;
  animation-name: blood;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-family: Nosifer, fantasy;
}

.lvl6 {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin: 100px;
  font-size: 200%;
  color: white;
  background: rgb(240, 185, 80);
  margin: 5px;
  font-style: italic;
  font-family: "Impact", cursive;
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  ont-size: 125%;
}

.lvl7 {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin: 100px;
  font-size: 200%;
  color: red;
  background: rgb(240, 185, 80);
  margin: 5px;
  font-style: italic;
  font-size: 150%;
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  font-family: "Impact",  monospace;
}

.lvl8 {
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  animation-name: glitch1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  width: 500px;
  height: 240px;
  border-radius: 0px;
  background: black;
  color: red;
  font-size: 800%;
  text-spacing: 300%;
  border: 0px;
  margin: 5px;
}

.lvl9 {
  width: 500px;
  border: 0px;
  height: 500px;
  border-radius: 0px;
  background: rgb(240, 185, 80);
  margin: 5px;
  color: white;
  font-style: Bold;
  font-size: 150px;
  animation-name: barcode_glitch;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background-image: url("https://64.media.tumblr.com/tumblr_md1q9bnrbJ1r9uwqao1_500.gif");

  .critical {
    font-family: "Dorsa", sans-serif;
    color: white;
    background: black;
    padding: 30px;
    border: 0px;
  }
}

.invisible {
  color: transparent;
  border: 0px;
  background-color: transparent;
}
.lvl10 {
  margin-top: 500px;
  width: 120px;
  height: 40px;
  font-family: "Press Start 2P", cursive;
  border-radius: 0px;
  color: back;
  background: grey;
  margin: 5px;
  font-style: Bold;
}

/*
font-family: 'Butcherman', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Codystar', cursive;
font-family: 'Dorsa', sans-serif;
font-family: 'Faster One', cursive;
font-family: 'Libre Barcode 128', cursive;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Libre Barcode 39', cursive;
font-family: 'Libre Barcode 39 Extended', cursive;
font-family: 'Libre Barcode 39 Extended Text', cursive;
font-family: 'Monofett', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Share Tech Mono', monospace;
font-family: 'Six Caps', sans-serif;
font-family: 'VT323', monospace;
*/
