body {
  background-color: lightblue;
}

.hot_cheeto {
  color: red;
  background-color: orange;
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
}

arm {
  border-radius: 3em;
  font-size: 10px;
  font-weight: bold;
}

.bubble {
  color: blue;
  padding: 20px;
  margin: 10px;
}

.bubble2 {
  background: linear-gradient(orange,coral);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: justify;
}
