body {
  background-color: #333;
  color: #FFF;
  font: 15px Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;
}

#metachatcontainer {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
     box-shadow: 0px 0px 15px black;
}

#chattext {
  overflow: auto;
  color: black;
  background: #BBB;
  height: calc(100% - 50px);
}

#inputcontainer {
  height: 80px;
  padding: 10px;
  width: calc(100% - 20px);
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center; 

}

#inputcontainer .section {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}

#inputcontainer .username {
  width: 20%
}

#inputcontainer .message.section {
  width: 70%;
}

#inputcontainer .submit.section {
  width: 10%;
}

#inputcontainer .section * {
  flex:1 0 auto;
}

#inputcontainer .label {
  font-size: 0.9em;
  max-height: 15px;
  padding: 0px 10px;
}

#inputcontainer button {
  color: white;
  font-size: 1em;
  border-radius: 10px;
  border: 4px solid #44F;
  background-color: #44f;
  max-height: calc(100% - 15px);
}


textarea {
  border-radius: 10px;
  border: 1px solid black;
  resize: none;
  padding: 3px;
}


#nameInput {
  vertical-align: center;
  text-align: center;
}
.messagecontainer {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  transition: font-size .75s ease-in-out;
  height: 20px;
}

.messagename {
  font-weight: bold;
  flex: 0 0 100px;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

.messageclasses {
  flex: 0 0 calc(50% - 100px);
  font-size: 0.8em;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
  color: #AAA;
}

.messagetext {
}

.messagetext p {
  margin: 0px;
}

.messageimg {
  flex: 0 0 calc(50% - 100px);
  text-align: right;
}
 
.messageimg img {
  max-width: 100%;
  max-height: 300px;
}

#facecanvas {
  position: fixed;
  top: 30px; 
  right: 30px;
  width: 200px;
  border-radius: 180px;

}


#dynamicstyles {
  font-family: Courier, monospace;
}

.stylecontainer {
  display: flex;
  margin: 10px;
}

.styleselector {
  flex-basis: 100px;
  text-align: right;
  margin-right: 10px;
}

.stylerules::before{
  content: " { ";
}
.stylerules::after {
  content: " }";
}

.vapor4 {
  display: none;
  animation-name: vapor4;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
