body {
  background-color: #333;
  color: #FFF;
  font: 15px Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;
}

#metachatcontainer {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 80vh;
  width: 500px;
  display: flex;
  flex-direction: column;
     box-shadow: 0px 0px 15px black;
}

#chattext {
  overflow: auto;
  color: black;
  background: #BBB;
  height: calc(100% - 50px);
}

#inputcontainer {
  padding: 10px;
  width: 100%;
  height: 40px;
  font-size: 0.8em;
}

input {
  border-radius: 10px;
  border: 1px solid black;
  padding: 4px 10px;
}

#nameInput {
  width: 50px;
}

#textInput {
}

.messagecontainer {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  transition: font-size .75s ease-in-out;
  height: 20px;
}

.messagename {
  font-weight: bold;
  flex: 0 0 100px;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

.messageclasses {
  flex: 0 0 calc(50% - 100px);
  font-size: 0.8em;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
  color: #AAA;
}

.messagetext {
}

.messagetext p {
  margin: 0px;
}

.messageimg {
  flex: 0 0 calc(50% - 100px);
  text-align: right;
}
 
.messageimg img {
  max-width: 100%;
  max-height: 300px;
}




#dynamicstyles {
  font-family: Courier, monospace;
}

.stylecontainer {
  display: flex;
  margin: 10px;
}

.styleselector {
  flex-basis: 100px;
  text-align: right;
  margin-right: 10px;
}

.stylerules::before{
  content: " { ";
}
.stylerules::after {
  content: " }";
}

.vapor4 {
  display: none;
  animation-name: vapor4;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
