html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
/*   font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    "Apple Chancery",
    sans-serif; */
  font-family: monospace;
}

body {
  
  padding: 0px;
  margin: 0px;
  

}


marquee {
  color: orange;
}

.questions {
  
  color: #334FBF;
  background-color: lightgreen;
  
  font-family: Helvetica, Arial, sans-serif;
  /* text-align: center; */
  
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}


#pending_questions  {
  color: red;
}


img.thumbnail {
  width: 300px;
}

.question_title {
  font-weight: bold;
  font-size: 20px;
}

elephant {
  color: gray;
}

#results2 {
  color: pink;
}

#button1 {
  background-color: lightgreen;
}

.alertme {
  font-size: 30px;
}

#yellowpane {
  background-color: orange;
  height: 100%;
  width: 500px;
}

#overlay1 {
}


#overlay2 {
  background-color: 6a00ff;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.bubble {
  padding: 25px;
  margin: 0px;
}

.btn {
  font-size: 12;
  text-align: center;
  color: #BCBCBC;
  z-index: 1;
  background-color: transparent;
  border-radius: 6px;
  padding: 6px;
  margin: 10px;
  font-family: "Helvetica";
  position: absolute;
}
  
.btn2 {
   font-size: 12;
  text-align: center;
  color: #BCBCBC;
  z-index: 1;
  background-color: transparent;
  border-radius: 6px;
  padding: 6px;
  margin: 10px;
  font-family: "Helvetica";
}

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main.page {
    height: 100%;
  padding-bottom: 0px;
  background-color: #overlay1;
}