body {
  /* background-color: rgb(255,255,255); */
  background-image: linear-gradient( rgba(0,0,255,0),rgba(0,0,255,0),rgba(0,0,255,0),rgba(0,0,255,0.3), rgba(0,0,255,1));
  font: 25px arial, sans-serif;
  /* font-style: italic; */
}

arm {
  border-radius: 3em;
  font-size: 10px;
  font-weight: bold;
}

.bubble {
  color: blue;
  padding: 20px;
  margin: 10px;
}

.bubble2 {
  background: linear-gradient(orange, coral);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: justify;
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes vapor4 {
  0% {color: rgba(150,255,255,.5);}
  50% {color: rgba(73,0,255,.6);}
  100% {color: rgba(150,255,255,.5);}
}

.links a {
  display: block;
  width: 200px;
  padding: 20px;
  margin: 10px;
  border: 1px dotted #1d1d1d;
  color: #3333ff;
  /* CSS files add styling rules to your content */

  body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }

  h1 {
    font-style: italic;
    color: #373fff;

  }

  .bubble {
    display: inline;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
  }

  input {
    display: block;
    padding: 5px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width:500vw;
  margin: auto;
}

.chatcontainer {
  height: 80vh;
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,255,0);
}

/* #chattext, #chatimages { */
  #chattext {
  /* overflow: auto; */
  width: 30%;
  height: 80%;
  font-size: 50px;
}

#chatimages img {
  width: 100%;
}

@-webkit-keyframes colours {
	  0% {opacity: 100%;}
     10% {opacity: 90%;}
	 20% {opacity: 80%;}
	 30% {opacity: 70%;}
	 40% {opacity: 60%;}
	 50% {opacity: 50%;}
	 60% {opacity: 40%;}
	 70% {opacity: 30%;}
	80% {opacity: 20%;}
  	90% {opacity: 10%;}
    	100% {opacity: 0%;}
}

@-webkit-keyframes colours2 {
	  0% {opacity: 90%;}

	 20% {opacity: 80%;}
	 30% {opacity: 70%;}
	 40% {opacity: 60%;}
	 50% {opacity: 50%;}
	 60% {opacity: 40%;}
	 70% {opacity: 30%;}
	80% {opacity: 20%;}
  	90% {opacity: 10%;}
    	100% {opacity: 0%;}
}

@-webkit-keyframes colours3 {
	  0% {opacity: 80%;}


	 30% {opacity: 70%;}
	 40% {opacity: 60%;}
	 50% {opacity: 50%;}
	 60% {opacity: 40%;}
	 70% {opacity: 30%;}
	80% {opacity: 20%;}
  	90% {opacity: 10%;}
    	100% {opacity: 0%;}
}

@-webkit-keyframes colours4 {
	  0% {opacity: 70%;}
	 40% {opacity: 60%;}
	 50% {opacity: 50%;}
	 60% {opacity: 40%;}
	 70% {opacity: 30%;}
	80% {opacity: 20%;}
  	90% {opacity: 10%;}
    	100% {opacity: 0%;}
}

@-webkit-keyframes colours5 {
	  0% {opacity: 60%;}
	 50% {opacity: 50%;}
	 60% {opacity: 40%;}
	 70% {opacity: 30%;}
	80% {opacity: 20%;}
  	90% {opacity: 10%;}
    	100% {opacity: 0%;}
}

@-webkit-keyframes colours6 {
	  0% {opacity: 50%;}

	 60% {opacity: 40%;}
	 70% {opacity: 30%;}
	80% {opacity: 20%;}
  	90% {opacity: 10%;}
    	100% {opacity: 0%;}
}

@-webkit-keyframes colours7 {
	  0% {opacity: 40%;}
	 70% {opacity: 30%;}
	80% {opacity: 20%;}
  	90% {opacity: 10%;}
    	100% {opacity: 0%;}
}

@-webkit-keyframes colours8 {
	  0% {opacity: 30%;}
	80% {opacity: 20%;}
  	90% {opacity: 10%;}
    	100% {opacity: 0%;}
}

@-webkit-keyframes colours9 {
	  0% {opacity: 20%;}
  	90% {opacity: 10%;}
    	100% {opacity: 0%;}
}

@-webkit-keyframes colours10 {
	  0% {opacity: 10%;}
    	100% {opacity: 0%;}
}



/* @-webkit-keyframes colours2 {
	  0% {color: #F87B60;}
	 15% {color: #F8C560;}
	 30% {color: #E1F860;}
	 45% {color: #60F870;}
	 60% {color: #60F8D5;}
	 75% {color: #60C1F8;}
	 90% {color: #6072F8;}
	100% {color: #E860F8;}
}

@-webkit-keyframes colours3 {
	  0% {color: #9B43A5;}
	 15% {color: #4347A5;}
	 30% {color: #43A2A5;}
	 45% {color: #43A556;}
	 60% {color: #93A543;}
	 75% {color: #A58043;}
	 90% {color: #A54943;}
	100% {color: #A54393;}
} */

.textcontainer {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  height: 10vh;
  background-color: rgba(0,0,255,1);
}

#textInput {
  width: 50%;
}

.messagecontainer {
  margin-bottom: 2px;
  position: absolute;
 transition: opacity 10s;
}

.messagecontainer-1 {
  -webkit-animation-direction: normal;
-webkit-animation-duration: 6s;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: colours;
-webkit-animation-timing-function: ease;
}


.messagecontainer-2 {
  -webkit-animation-direction: normal;
-webkit-animation-duration: 5.5s;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: colours2;
-webkit-animation-timing-function: ease;
}

.messagecontainer-3 {
  -webkit-animation-direction: normal;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: colours3;
-webkit-animation-timing-function: ease;
}

.messagecontainer-4 {
  -webkit-animation-direction: normal;
-webkit-animation-duration: 4.5s;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: colours4;
-webkit-animation-timing-function: ease;
}

.messagecontainer-5 {
  -webkit-animation-direction: normal;
-webkit-animation-duration: 4s;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: colours5;
-webkit-animation-timing-function: ease;
}

.messagecontainer-6 {
  -webkit-animation-direction: normal;
-webkit-animation-duration: 3.5s;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: colours6;
-webkit-animation-timing-function: ease;
}

.messagecontainer-7 {
  -webkit-animation-direction: normal;
-webkit-animation-duration: 3s;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: colours7;
-webkit-animation-timing-function: ease;
}

.messagecontainer-8 {
  -webkit-animation-direction: normal;
-webkit-animation-duration: 2.5s;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: colours8;
-webkit-animation-timing-function: ease;
}

.messagecontainer-9 {
  -webkit-animation-direction: normal;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: colours9;
-webkit-animation-timing-function: ease;
}

.messagecontainer-10 {
  -webkit-animation-direction: normal;
-webkit-animation-duration: 1.5s;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: colours10;
-webkit-animation-timing-function: ease;
}

.name {
  font-weight: bold;
  display: inline-block;
  width: 10px;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

.text {
  display: inline-block;
}

.vapor4 {
  display: none;
  animation-name: vapor4;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.span {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  font-weight: normal;
  font-family: monospace;
}
