body{
  background-image:url("https://cdn.glitch.com/4183f6ae-75bb-4373-84cc-030d2d019f7b%2Fcolorful-holographic-gradient-background-design-vector.jpg?v=1607793643251");
  background-size: cover;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.instructionButton{
  position: absolute;
  left: 10px;
  top: 20px;
}


video{
  width: 0;
  min-height:0;
  object-fit: cover;
}

.note{
  Position: absolute;
  bottom: 50px;
  left: 0px;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
}


.note1{
  animation: rotation1 12s infinite linear;
}
@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.note2{
  animation: rotation2 12s infinite linear;
}
@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.note3{
  animation: rotation3 12s infinite linear;
}
@keyframes rotation3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.note4{
  animation: rotation4 12s infinite linear;
}
@keyframes rotation4 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


