

.bubble {
  color: blue;
  padding: 20px;
  margin: 10px;
}

.bubble2 {
  background: linear-gradient(orange, coral);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: justify;
}

.dan {
  font-weight: 1.2em;
}

<<<<<<< Updated upstream
.hungry {
  color: red;
  background: linear-gradient(orange, coral);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: justify;
=======
.what{
  Color: red;
  padding: 10px;
  font-size: 50px;
  text-align: center;
}

.devansh {
  font: stylesheet;
  color: green;
>>>>>>> Stashed changes
}

.happy {
  color: green;
  font-stretch: ultra-expanded;
  text-decoration: underline;
  text-shadow: 3px;
  margin-left: inherit;
}
