body {
  background-color: #dddddd;
  font: 15px Arial, sans-serif;
}

arm {
  border-radius: 3em;
  font-size: 10px;
  font-weight: bold;
}

.bubble {
  color: blue;
  padding: 20px;
  margin: 10px;
}

.bubble2 {
  background: linear-gradient(orange, coral);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: justify;
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes vapor4 {
  0% {color: rgba(150,255,255,.5);}
  50% {color: rgba(73,0,255,.6);}
  100% {color: rgba(150,255,255,.5);}
}

.links a {
  display: block;
  width: 200px;
  padding: 20px;
  margin: 10px;
  border: 1px dotted #1d1d1d;
  color: #3333ff;
  /* CSS files add styling rules to your content */

  body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }

  h1 {
    font-style: italic;
    color: #373fff;
  }

  .bubble {
    display: inline;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
  }

  input {
    display: block;
    padding: 5px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width:500vw;
  margin: auto;
}

.chatcontainer {
  height: 80vh;
  display: flex;
  flex-direction: row;
}

/* #chattext, #chatimages { */
  #chattext {
  /* overflow: auto; */
  width: 50%;
  height: 80%;
  font-size: 80px;
}

#chatimages img {
  width: 100%;
}


.textcontainer {
  position: fixed;
  width: 100vw;
  bottom: 0px;
  height: 10vh;
}

#textInput {
  width: 50%;
}

.messagecontainer {
  margin-bottom: 2px;
  position: absolute;
 transition: opacity 10s;
}

.messagecontainer-1 {
  color: red;
}


.messagecontainer-2 {
  color: yellow;
}

.name {
  font-weight: bold;
  display: inline-block;
  width: 100px;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

.text {
  display: inline-block;
}

.vapor4 {
  display: none;
  animation-name: vapor4;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
